.menu {
    width: 60%;
    margin: 4% auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #373737;
}

#menu-item {
    margin: 1% auto;
}

#menu-item a {
    text-decoration: underline;
    color: #373737;
}

#menu-item a:visited {
    text-decoration: underline;
  } 

#logo {
    margin: 1% auto;
    height: 100%;
}

#screenshot {
    height: 100px;
    margin: 1% auto;
}

.circle-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

#profile-pic {
    width: inherit;
}

#section-title {
    color: #ffd3b4;
    text-align: center;
    text-decoration: bold;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}

#section-subtitle {
    color: #ffd3b4;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Lora', serif;
}

#section-content {
    color: #ffd3b4;
    text-align: center;
    font-size: 25px;
    font-family: 'Lora', serif;
}

#name-text {
    color: #ffd3b4;
    text-align: center;
    font-size: 20px;
    font-family: 'Lora', serif;
}

#role-text {
    color: #ffd3b4;
    text-align: center;
    font-size: 15px;
    font-family: 'Lora', serif;
}

ul {
    list-style: none;
    padding: 0;
}
  
ul.complete li:before {
    content: '✓';
    margin: 3%;
}

ul.not-complete li:before {
    content: 'x';
    margin: 3%;
}

.about {
    /*background-color: #96858f;*/
    background-color: #6d7993;
    min-height: 90vh;
    width: 60%;
    margin: 2% auto;
    outline: 2px dotted white;
    outline-offset: -10px;
    padding: 2%;
}

.team {
    background-color: #6d7993;
    /*background-color: #F67280;*/
    min-height: 90vh;
    width: 60%;
    margin: 2% auto;
    outline: 2px dotted white;
    outline-offset: -10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.row2 {
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.left {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
}

.progress {
    /*background-color: #F67280;*/
    background-color: #6d7993;
    min-height: 90vh;
    width: 60%;
    margin: 2% auto;
    outline: 2px dotted white;
    outline-offset: -10px;
    padding: 2%;
}

.results {
    /*background-color: #F67280;*/
    background-color: #6d7993;
    min-height: 90vh;
    width: 60%;
    margin: 2% auto;
    outline: 2px dotted white;
    outline-offset: -10px;
    padding: 2%;
}

#test2 {
    color: #ffd3b4;
    text-align: center;
}